<% layout('/layouts/admin') -%>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="content-wrapper">
      <div class="row user-profile">
          <div class="col-lg-12 side-right">
            <div class="card">
              <div class="card-body">
                <div class="wrapper">
                    <h1><center>Registrar Nuevos Dispositivos</center></h1>
                    <form method="POST" action="/marcacion/registro_dispositivo">
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputEmail4">Direccion IP</label>
                          <input type="text" name="ip" class="form-control" placeholder="192.168.0.1">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="puerto">Puerto</label>
                          <input type="text" class="form-control" name="puerto" id="input-puerto" placeholder="4350">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="estado">Estado</label>
                          <select name="estado" class="form-control">
                            <option value="1">Habilitado</option>
                            <option value="0">Inhabilitado</option>
                        </select>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="modelo">Modelo</label>
                          <select name="modelo" class="form-control">
                            <option value="zk Software (TFT)">zk Software (TFT)</option>
                            <option value="Suprema BioStation">Suprema BioStation</option>
                            <option value="zk Software (BW)">zk Software (BW)</option>
                            <option value="zk Software DB">zk Software DB</option>
                            <option value="ZKS Access DB">ZKS Access DB</option>
                            <option value="AET63">AET63</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="identificador">Identificador</label>
                          <select name="identificador" class="form-control">
                            <option value="ndi">NDI</option>
                            <option value="codigo">Codigo</option>
                          </select>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="comentario">Comentarios</label>
                          <input name="comentario" class="form-control" placeholder="Comentario">
                        </div>
                        <div class="col-md-12 text-center">
                          <button class="btn btn-primary" type="submit">Agregar</button>
                        </div>
                      </div>
                      
                    </form>
                    <br><br>
                    <h1><center>Dispositivos Registrados</center></h1>
                        <table class="table">
                          <tr><th>Direccion IP</th><th>Puerto</th><th>Estado</th><th>Modelo</th><th>Identificador</th><th>Comentarios</th></tr>
                          <% for(var i=0; i< newdispositivo.length; i++) { %>
                            <form method="POST" action="/marcacion/elimina_dispositivo">
                            <tr><td><input name="id" type="hidden" value="<%=newdispositivo[i].id %>"><%=newdispositivo[i].DireccionIP %></td><td><%=newdispositivo[i].Puerto %></td><td><%=newdispositivo[i].Cod_Estado %></td><td><%=newdispositivo[i].Modelo %></td><td><%=newdispositivo[i].Identificador %></td><td><%=newdispositivo[i].Comentario %></td><td><button type="submit">Eliminar</button></td></tr>
                          </form>
                            <%}%>
                        </table>
                      <br><br><br>
              </div>
          </div>
      </div>
      </div>
      </div>
    </div>
    </div>
    </div>
