<% layout('/layouts/admin') -%>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <div class="row row-offcanvas row-offcanvas-right"> 
    <div class="content-wrapper">
      <div class="row user-profile">
          <div class="col-lg-10 side-right">
            <div class="card">
              <div class="card-body">
                <div class="wrapper">
                    <h1><center>Dispositivos Registrados</center></h1>
                    
                    <table class="table">
                      <tr><th>Direccion IP</th><th>Puerto</th><th>Estado</th><th>Modelo</th><th>Identificador</th><th>Comentarios</th><th></th></tr>
                      <% for(var i=0; i< newdispositivo.length; i++) { %>
                        <tr>
                        <form method="POST" action="/marcacion/marcaciones" id="">
                          <td><input type="hidden" name="dispositivo" value="<%=newdispositivo[i].DireccionIP%>"/><input name="ip" type="hidden" value="<%=newdispositivo[i].DireccionIP %>"><%=newdispositivo[i].DireccionIP %></td><td><input name="puerto" type="hidden" value="<%=newdispositivo[i].Puerto %>"><%=newdispositivo[i].Puerto %></td><td><%=newdispositivo[i].Cod_Estado %></td><td><%=newdispositivo[i].Modelo %></td><td><%=newdispositivo[i].Identificador %></td><td><%=newdispositivo[i].Comentario %></td><td><button class="button" type="submmit">Ver</button></td>
                        </form>
                        </tr>
                        <%}%>
                    </table>
                    <% if(x.length > 0) { %>
                    <form method="POST" action="/marcacion/guardar_marcacion" id="form-guardar-marcacion">
                    <h1><center>Registros</center></h1>
                    <input type="hidden" value="<%=ip%>" name="ip">
                    <center><button type="submmit" class="btn btn-primary">Guardar y limpiar</button></center>
                    <br><br><br>
                    <table class="table">
                    <tr>
                        <th>N°</th><th>N° de marcacion</th><th>NDI</th><th>No se</th><th>Fecha y Hora de Marcacion</th>
                    </tr>
                    <% for(var i=0; i< x.length; i++) { %>
                      <tr>
                        <td><%= i+1%></td><td>
                          <!--<input type="text" value="<%=x[i]%>" name="registros">-->
                          <%=x[i][0]%></td><td><%=x[i][1]%></td><td><%=x[i][2]%></td><td><%=x[i][3]%></td>
                      </tr>
                    <% } %>
                  </table>
                </form>
                <% } %>
            </div>
          </div>
      </div>
      </div>
      </div>
    </div>
    </div>
    </div>
