<!DOCTYPE html>

<html lang="en">

<head>
    <style>
        @media print {
            .print-ignore {
                display: none !important;
            }
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

   
      <div class="alert alert-warning text-center" role="alert"></div>
          <%= error_msg %>
        </div>

    
    <img src="/images/logomdpyep.png" alt="icono logo" width="15%">
    <div align="right">
        <button type="button" class="btn btn-primary print-ignore" onClick="window.print()">Imprimir</button>
        <button type="button" class="btn btn-primary print-ignore nav-link" onClick="window.location = '/reportesAsistencia/reporteAsistenciaArea'"> Volver </button>
        
      </div>
      <%if(reporteAsistencia.length != 0){%>
    <h1 align="center">Reporte de asistencia</h1>
    <h2 align="center">Correspondiente al periodo del <%= moment(fecha_inicio).format( 'DD/MM/YYYY') %> al <%= moment(fecha_fin).format( 'DD/MM/YYYY') %> </h2>
    <%var area='';%>
    <%var empleado='';%>
    <%var atrasos=0;%>

    
      <h2><%=reporteAsistencia[0].desc_area%></h2>
    <% for(var i=0; i< reporteAsistencia.length ; i++) { %>

        <% if(empleado != reporteAsistencia[i].ndi){%>
          
        <%if(i!=0){%>
          </table>
          <p align="right">Atrasos: <%=atrasos%> min. Faltas: Abandonos: </p>
        <%}%>
        <%atrasos=0;%>
        <h3><%=reporteAsistencia[i].ndi+' '+reporteAsistencia[i].nombres+' '+reporteAsistencia[i].paterno+' '+reporteAsistencia[i].materno%></h3>
        <table cellspacing="0" width="100%" border="1" align="center">

                <thead align="center">
                        <tr>
                          <th colspan="3"></th>
                          <th colspan="2">1er Periodo</th>
                          <th colspan="2">2do Periodo</th>
                          <th colspan="2">Retraso 1er Periodo</th>
                          <th colspan="2">Retraso 2do Periodo</th>
                          <th colspan="2">Observaciones 1er Periodo</th>
                          <th colspan="2">Observaciones 2do Periodo</th>
                        </tr>
                        <tr>

                          <th>Día</th>
                          <th>Fecha</th>
                          <th>horario</th>
                          <th>Entrada</th>
                          <th>Salida</th>
                          <th>Entrada</th>
                          <th>Salida</th>
                          <th>Entrada</th>
                          <th>Salida</th>
                          <th>Entrada</th>
                          <th>Salida</th>
                          <th>Entrada</th>
                          <th>Salida</th>
                          <th>Entrada</th>
                          <th>Salida</th>
                        </tr>
                      </thead>
                     <%}%>               
                       <td>
                        <% if(moment(reporteAsistencia[i].fecha).format( 'dddd') == 'Monday' ) { %>
                        <%='Lunes'%>
                        <%}%>
                         <% if(moment(reporteAsistencia[i].fecha).format( 'dddd') == 'Tuesday' ) { %>
                         <%='Martes'%>
                        <%}%>
                         <% if(moment(reporteAsistencia[i].fecha).format( 'dddd') == 'Wednesday' ) { %>
                        <%='Miércoles'%>
                         <%}%>
                        <% if(moment(reporteAsistencia[i].fecha).format( 'dddd') == 'Thursday' ) { %>
                        <%='Jueves'%>
                        <%}%>
                        <% if(moment(reporteAsistencia[i].fecha).format( 'dddd') == 'Friday' ) { %>
                         <%='Viernes'%>
                        <%}%>
                        <% if(moment(reporteAsistencia[i].fecha).format( 'dddd') == 'Saturday' ) { %>
                        <%='Sábado'%>
                        <%}%>
                        <% if(moment(reporteAsistencia[i].fecha).format( 'dddd') == 'Sunday' ) { %>
                        <%='Domingo'%>
                        <%}%>
                        </td>
                        <td>
                          <%= moment(reporteAsistencia[i].fecha).format( 'DD/MM/YYYY') %>
                        </td>
                        <td>
                          <%= reporteAsistencia[i].descripcion %>
                        </td>
                        <td>
                          <%= reporteAsistencia[i].entrada_1 %>
                        </td>
                        <td>
                          <%= reporteAsistencia[i].salida_1 %>
                        </td>
  
                        <td>
                          <%= reporteAsistencia[i].entrada_2 %>
                        </td>
                        <td>
                          <%= reporteAsistencia[i].salida_2 %>
                        </td>
                        <td>
                          <%= reporteAsistencia[i].retraso_entrada_1 %>
                        </td>
                        <td>
                          <%= reporteAsistencia[i].retraso_salida_1 %>
                        </td>
                        <td>
                          <%= reporteAsistencia[i].retraso_entrada_2 %>
                        </td>
                        <td>
                          <%= reporteAsistencia[i].retraso_salida_2 %>
                        </td>
                        <td>
                          <%= reporteAsistencia[i].observacion_entrada_1 == null ? "" : reporteAsistencia[i].observacion_entrada_1 %>
                        </td>
                        <td>
                          <%= reporteAsistencia[i].observacion_salida_1 == null ? "" : reporteAsistencia[i].observacion_salida_1 %>
                        </td>
                        <td>
                          <%= reporteAsistencia[i].observacion_entrada_2 == null ? "" : reporteAsistencia[i].observacion_entrada_2 %>
                        </td>
                        <td>
                          <%= reporteAsistencia[i].observacion_salida_2 == null ? "" : reporteAsistencia[i].observacion_salida_2 %>
                        </td>
  
                      </tr>
                      
                        <% atrasos=atrasos+reporteAsistencia[i].retraso_entrada_1 + reporteAsistencia[i].retraso_salida_1 + reporteAsistencia[i].retraso_entrada_2 + reporteAsistencia[i].retraso_salida_2 %>
                        <% empleado = reporteAsistencia[i].ndi; %>
             
       

                    <%}%>
                  </table>
                  <p align="right">Atrasos: <%=atrasos%> min. Faltas: Abandonos: </p>
                  <%}else{%>
                    <h1 align="center">No existen registros</h1>
                  <%}%>

</html>