<% layout('/layouts/admin') -%>


  <!-- partial -->
  <div class="content-wrapper">
    <h1 class="page-title">Consulta de Marcados</h1>
    <div class="row grid-margin">
        
      <div class="col-lg-12 grid-margin grid-margin-lg-0 ">
        <%if (error_msg.length > 0 ) { %>
          <div class="alert alert-warning text-center" role="alert">
            <%= error_msg %>
          </div>
          <% } %>




          <div class="row justify-content-md-center">
            <div class="col-12 col-lg-10 grid-margin grid-margin-lg-0">
              <div class="card">
                <div class="card-body" name="card-body" id="card-body">
                    <form method="post" action="">
                    <%if (user.rol.rol === 'ADMIN') { %>
                 
                      
                      <div class="form-group row">
                        <h2 class="card-title">Busqueda del empleado por C.I.</h2>
                      </div>
                      <div class="form-group row">
                        <label for="ci reporte" class="col-sm-2 col-form-label">C. I.:</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" class="form-control" name="ci_empleado" id="ci_empleado" placeholder="Ingrese el CI del empleado" value="<%= ( typeof empleado  === 'undefined') ? '' : empleado[0].ndi  %>">
                        </div>
 
                      <div class="col-sm-2">
                        <button   id="btnBuscaEmpleado" type="submit" class="btn btn-primary" onclick=this.form.action="/reportesAsistencia/reporteAsistenciaEmpleado/buscarEmpleado">Busca persona</button>
                      </div>
                      </div>


                      <%if( typeof empleado  !== 'undefined' ){%>
                        <div class="form-group row">
                          <h2 class="card-title">Datos Generales</h2>
                      </div>
                   
                      <div id="empleado-profile" align="left">
                          <article class="profile-user">
                            <div class="left">
                              <img  src="/images/user-default.png" alt="">
                            </div>
                            
                            <div class"left info">
                                <label class="col-sm-2 col-form-label"><b>Nombres y apellidos:</b></label>
                                <label class="col-sm-8 col-form-label"> <%=empleado[0].nombres+' '+empleado[0].paterno+' '+empleado[0].materno%> </label>

                                <label class="col-sm-2 col-form-label"><b>Número de C.I.:</b></label>
                                <label class="col-sm-8 col-form-label"> <%=empleado[0].ndi%> </label>

                                <label class="col-sm-2 col-form-label"><b>Dependencia:</b></label>
                                <label class="col-sm-8 col-form-label"> <%=empleado[0].desc_area%> </label>
                                 
                                <label class="col-sm-2 col-form-label"><b>Puesto/Cargo:</b></label>
                                <label class="col-sm-8 col-form-label"> <%=empleado[0].cargo%> </label>   
                            </div>                     
                          </article>
                      </div>                 
                      <%}%>
            <%}%>

                      <div class="form-group row">
                          <h2 class="card-title">Periodo y tipo de reporte</h2>
                      </div>
                     
                        <div class="form-group row">

                            
                          <label class="col-sm-2 col-form-label">Periodo:</label>
                          <label class="col-sm-1 col-form-label">Del:</label>
                          <div class="col-sm-4">

                            <div class="input-group date datepicker" id="datetimepicker1">
                              <input type="text" class="form-control" name="inicio" id="inicio">
                              <div class="input-group-addon">
                                <span class="mdi mdi-calendar-blank"></span>
                              </div>
                            </div>
                          </div>
                          <label class="col-sm-1 col-form-label">al:</label>
                          <div class="col-sm-4">
                            <div class="input-group date datepicker" id="datetimepicker2">
                              <input type="text" class="form-control" name="fin" id="fin">
                              <div class="input-group-addon">
                                <span class="mdi mdi-calendar-blank"></span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Tipo de reporte:</label>
                          <div class="col-sm-6">
                            <select class="form-control" name="tipo" id="tipo">
                              <option value="completo">Reporte completo</option>
                              <option value="observaciones">Reporte con observaciones</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-12 text-center">
                          <button type="button" id="actualizar-marcacion" class="btn btn-primary"><i class="mdi mdi-reload"></i> Actualizar Asistencia</button>
                          <button type="submit" class="btn btn-primary" onclick=this.form.action="/reportesAsistencia/reporteAsistenciaEmpleado/buscar">Recuperar</button>
                        </div>
                  </form>
                </div>
              </div>
            </div>
      </div>
      </div>
    </div>
    <% if(marcados.length != 0 ) { %>
      <div class="row grid-margin" id="panel">
        <div class="col-10 col-lg-12 grid-margin grid-margin-lg-0">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title" align="center">Reporte de asistencia</h2>
              <h3 class="card-title" align="center">Correspontiente al periodo
                <%= fecha_inicio %> al
                  <%= fecha_fin %>
              </h3>

              <h2 class="card-title">
                <%= marcados[0].desc_area %>
              </h2>
              <h2 class="card-title">
                <%= marcados[0].ndi %>
                <%= marcados[0].paterno%>
                <%= marcados[0].materno%>
                <%= marcados[0].nombres%>
              </h2>
              <table id="table-consulta-marcado" class="table table-responsive">
                <thead align="center">
                  <tr>
                    <th colspan="3"></th>
                    <th colspan="2">1er Periodo</th>
                    <th colspan="2">2do Periodo</th>
                    <th colspan="2">Retraso 1er Periodo</th>
                    <th colspan="2">Retraso 2do Periodo</th>
                    <th colspan="2">Observaciones 1er Periodo</th>
                    <th colspan="2">Observaciones 2do Periodo</th>
                  </tr>

                  <tr>
                    <th>Día</th>
                    <th>Fecha</th>
                    <th>horario</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th>Entrada</th>
                    <th>Salida</th>

                  </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th colspan="4" style="text-align:right">Total:</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                  <%  var atrasos=0; 
                                      var faltas=0;
                                      var abandonos=0;
                                      for(var i=0; i< marcados.length; i++) {
                                        atrasos =atrasos + marcados[i].retraso_entrada_1 + marcados[i].retraso_salida_1+marcados[i].retraso_entrada_2+marcados[i].retraso_salida_2;

                                    %>
                    <tr align="center">
                      <td>
                      <% if(moment(marcados[i].fecha).format( 'dddd') == 'Monday' ) { %>
                      <%='Lunes'%>
                      <%}%>
                       <% if(moment(marcados[i].fecha).format( 'dddd') == 'Tuesday' ) { %>
                       <%='Martes'%>
                      <%}%>
                       <% if(moment(marcados[i].fecha).format( 'dddd') == 'Wednesday' ) { %>
                      <%='Miércoles'%>
                       <%}%>
                      <% if(moment(marcados[i].fecha).format( 'dddd') == 'Thursday' ) { %>
                      <%='Jueves'%>
                      <%}%>
                      <% if(moment(marcados[i].fecha).format( 'dddd') == 'Friday' ) { %>
                       <%='Viernes'%>
                      <%}%>
                      <% if(moment(marcados[i].fecha).format( 'dddd') == 'Saturday' ) { %>
                      <%='Sábado'%>
                      <%}%>
                      <% if(moment(marcados[i].fecha).format( 'dddd') == 'Sunday' ) { %>
                      <%='Domingo'%>
                      <%}%>
                      </td>
                      <td>
                        <%= moment(marcados[i].fecha).format( 'DD/MM/YYYY') %>
                      </td>
                      <td>
                        <%= marcados[i].descripcion %>
                      </td>
                      <td>
                        <%= marcados[i].entrada_1 %>
                      </td>
                      <td>
                        <%= marcados[i].salida_1 %>
                      </td>

                      <td>
                        <%= marcados[i].entrada_2 %>
                      </td>
                      <td>
                        <%= marcados[i].salida_2 %>
                      </td>
                      <td>
                        <%= marcados[i].retraso_entrada_1 %>
                      </td>
                      <td>
                        <%= marcados[i].retraso_salida_1 %>
                      </td>
                      <td>
                        <%= marcados[i].retraso_entrada_2 %>
                      </td>
                      <td>
                        <%= marcados[i].retraso_salida_2 %>
                      </td>
                      <td>
                        <%= marcados[i].observacion_entrada_1 == null ? "" : marcados[i].observacion_entrada_1 %>
                      </td>
                      <td>
                        <%= marcados[i].observacion_salida_1 == null ? "" : marcados[i].observacion_salida_1 %>
                      </td>
                      <td>
                        <%= marcados[i].observacion_entrada_2 == null ? "" : marcados[i].observacion_entrada_2 %>
                      </td>
                      <td>
                        <%= marcados[i].observacion_salida_2 == null ? "" : marcados[i].observacion_salida_2 %>
                      </td>


                    </tr>
                    <% } %>

                </tbody>



              </table>
            </div>
          </div>
          <% }%>
        </div>
      </div>