<% layout('/layouts/layout') -%>
<div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar navbar-primary col-lg-12 col-12 fixed-top d-flex flex-row print-ignore">
            <div class="text-center navbar-brand-wrapper print-ignore">
                <a class="navbar-brand brand-logo" href="#">
                  <img src="/images/nombrelogo.png" alt="nombre logo" width="60%">
                  <img src="/images/iconlogo.png" alt="icono logo" width="17%">
                </a>
                <a class="navbar-brand brand-logo-mini print-ignore" href="/home"><img src="/images/iconlogo.png" alt="icono logo" width="50%"></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center print-ignore">

                <button class="navbar-toggler navbar-toggler align-self-center mr-2 print-ignore" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu print-ignore"></span>
                </button>
                <div class="nav-profile print-ignore">
                <%if (user.rol.rol === 'ADMIN' && user.empleado !== 'null') { %>
                  <span>Hola, <%= user.username%></span>

                <% } %>
                <%if (user.rol.rol === 'EMPLEADO' && user.empleado !== 'null') { %>
                  <span>Hola,<%= user.empleado.nombres %> <%= user.empleado.paterno %> </span>
                  <%if ( user.empleado.foto ) { %>
                    <img src="<%= user.empleado.foto %> " />
                  <% }else{ %>
                    <img src="/images/user-default.png" />
                  <% } %>
                <% } %>
                  
                </div>
                            <form class="form-inline mt-2 mt-md-0 d-none d-lg-block ml-lg-auto">
                <input class="form-control search" type="text" placeholder="Buscar">
            </form>
                <ul class="navbar-nav print-ignore">
                        <li class="nav-link count-indicator">
                        <a type="button" class="btn btn-primary print-ignore" href="/logout">Salir</a>
                        </li>
                </ul>

                
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center print-ignore" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                  </button>
            </div>
            

        </nav>
    
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas print-ignore" id="sidebar">
                <ul class="nav">
                    <!--main pages start-->
                    <li class="nav-item nav-category">
                        <span class="nav-link">General</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">
                            <i class="mdi mdi-home"></i>
                            <span class="menu-title">Inicio</span>
                        </a>
                    </li>
                    <%if (user.rol.rol === 'ADMIN') { %>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#layoutsVacacion" aria-expanded="false" aria-controls="collapseExample">
                            <i class="mdi mdi-beach"></i>
                            <span class="menu-title">Vacacion</span>
                            <i class="mdi mdi-chevron-down"></i>
                        </a>
                        <div class="collapse" id="layoutsVacacion">
                                <ul class="nav flex-column sub-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/vacacion/prescripcion">Prescribir Vacaciones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/vacacion/saldo/formulario">Saldo de Vacaciones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/vacacion/cas">Registro CAS</a>
                                        </li>
                
                                    </ul>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#layoutsparametros" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-pencil"></i>
                                    <span class="menu-title">Parametros</span>
                                <i class="mdi mdi-chevron-down"></i>
                            </a>
                            <div class="collapse" id="layoutsparametros">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/feriado">Feriado</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/cargo">Cargo</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/area">Area</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#layoutshorarios" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="mdi mdi-calendar"></i>
                                        <span class="menu-title">Horarios</span>
                                    <i class="mdi mdi-chevron-down"></i>
                                </a>
                                <div class="collapse" id="layoutshorarios">
                                    <ul class="nav flex-column sub-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/horario/lista_horario">Lista de Horarios</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/horario/nuevo_horario">Nuevo Horario</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="/horario/lista_asignacion_horario">Horarios por Empleado</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="/horario/lista_horario_especial">Horarios Especiales</a>
                                        </li>
                                        </ul>
                                </div>
                            </li>
                         

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#layoutsAdministrar" aria-expanded="false" aria-controls="collapseExample">
                            <i class="mdi mdi-file-document"></i>
                            <span class="menu-title">Boletas</span>
                            <i class="mdi mdi-chevron-down"></i>
                        </a>
                        <div class="collapse" id="layoutsAdministrar">
                                <ul class="nav flex-column sub-menu">

                                        <li class="nav-item">
                                            <a class="nav-link" href="/administrar/boleta">Administrar</a>
                                        </li>
                
                                    </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#layoutsPersonal" aria-expanded="false" aria-controls="collapseExample">
                            <i class="mdi mdi-account"></i>
                            <span class="menu-title">Personal</span>
                            <i class="mdi mdi-chevron-down"></i>
                        </a>
                        <div class="collapse" id="layoutsPersonal">
                                <ul class="nav flex-column sub-menu">

                                        <li class="nav-item">
                                            <a class="nav-link" href="/personal/nuevo">Nuevo</a>
                                        </li>
                                        
                
                                    </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#layoutsReportesAsistencia" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-file"></i>
                                <span class="menu-title">Reportes de asistencia</span>
                                <i class="mdi mdi-chevron-down"></i>
                            </a>
                            <div class="collapse" id="layoutsReportesAsistencia">
                                    <ul class="nav flex-column sub-menu">
                                            <li class="nav-item">
                                                <a class="nav-link" href="/reportesAsistencia/reporteAsistenciaArea">Reporte por Area</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/reportesAsistencia/reporteAsistenciaEmpleado">Reporte individual</a>
                                            </li>
                    
                                        </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#layoutsmarcado" aria-expanded="false" aria-controls="collapseExample">
                                <i class="mdi mdi-file-document"></i>
                                <span class="menu-title">Marcación</span>
                                <i class="mdi mdi-chevron-down"></i>
                            </a>
                            <div class="collapse" id="layoutsmarcado">
                                    <ul class="nav flex-column sub-menu">
                                            <li class="nav-item">
                                                <a class="nav-link" href="/reportesAsistencia/reporteAsistenciaEmpleado">Consultar Marcacion</a>
                                            </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/marcacion/marcacion">Marcaciones</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/marcacion/dispositivos">Dispositivo</a>
                                                </li>
                                        </ul>
                            </div>
                     </li>
                    <% } %>
                    <%if (user.rol.rol === 'EMPLEADO') { %>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#layoutsBoleta" aria-expanded="false" aria-controls="collapseExample">
                            <i class="mdi mdi-file-document"></i>
                            <span class="menu-title">Boleta</span>
                            <i class="mdi mdi-chevron-down"></i>
                        </a>
                        <div class="collapse" id="layoutsBoleta">
                                <ul class="nav flex-column sub-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/boleta/formulario">Boleta</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/boleta/listadoboleta">Listado Boleta</a>
                                        </li>
                                </ul>
                        </div>
                    </li>
 
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#layoutsPersonal" aria-expanded="false" aria-controls="collapseExample">
                            <i class="mdi mdi-account-card-details"></i>
                            <span class="menu-title">Personal</span>
                            <i class="mdi mdi-chevron-down"></i>
                        </a>
                        <div class="collapse" id="layoutsPersonal">
                                <ul class="nav flex-column sub-menu">

                                        <li class="nav-item">
                                            <a class="nav-link" href="/ficha_personal/identificacion_personal">Registrar Ficha Personal</a>
                                        </li>

                                        <li class="nav-item">
                                                <a class="nav-link" href="/ficha_personal/identificacion_personal3">Registrar Dependientes</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="/ficha_personal/identificacion_personal4">Registrar Experiencia</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="/ficha_personal/identificacion_personal5">Registrar Referencias</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/ficha_personal/ficha_personal">Ficha Personal</a>
                                    </li>

                                </li>
                
                            </ul>
                        </div>
                    </li>
                     <% } %>
                    <!--main pages end-->
                 </ul>
            </nav>
            <%- body -%>
          </div>
        <!-- page-body-wrapper ends -->
      </div>
</div>