<% layout('/layouts/admin') -%>
        <!-- partial -->
        <div class="content-wrapper">
            <%if (success_msg.length > 0 ) { %>
              
                                      <div class="row">
                                              <div class="col align-self-center">
                                                  <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                                                      <strong><i class="mdi mdi-check"></i></strong>  <%= success_msg %>
                                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                          </button>
                                                  </div>
                                              </div>
                      
                                          </div>
                                  <% } %>

          <div class="row grid-margin">
              <%if (user.rol.rol === 'ADMIN') { %>
                <div class="col-12 col-lg-8">
                    <div class="row grid-margin">
                      <div class="col-12 col-lg-6">
                        <div class="card card-statistics">
                          <div class="card-body">
                              <p class="highlight-text text-center">
                                <i class="mdi mdi-account-multiple text-primary"></i>
                                <%= numero_empleados %>  empleados
                              </p>
                              <p class="text-center">
                                  Personal Activo
                              </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="card card-statistics">
                          <div class="card-body">
                            <p class="highlight-text text-center">
                              <i class="mdi mdi-file-document text-success"></i>
                              <%= numero_boleta_pendiente %> Boletas
                            </p>
                            <p class="text-center">
                               Boletas Pendientes
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
      <!-- 
                    <div class="row">
                      <div class="col-6">
                        <div class="card card-statistics">
                          <div class="card-body">
                            <p class="highlight-text">
                              <i class="mdi mdi-chart-areaspline text-danger"></i>
                              $18954
                            </p>
                            <p class="text-muted">
                              Lifetime total sales
                            </p>
                          </div>
                        </div>boletas
                      </div>
                      <div class="col-6">
                        <div class="card card-statistics">
                          <div class="card-body">
                            <p class="highlight-text">
                              <i class="mdi mdi-cash-multiple text-warning"></i>
                              $7841
                            </p>
                            <p class="text-muted">
                              Income amounts
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  -->
                  </div>
              <% } %>
              <%if (user.rol.rol === 'EMPLEADO') { %>
                <div class="col-12 col-lg-8">
                    <div class="row grid-margin">
                      <div class="col-12 col-lg-6">
                        <div class="card card-statistics">
                          <div class="card-body">
                              <p class="highlight-text text-center">
                                <i class="mdi mdi-factory text-success"></i>
                                  Area:
                              </p>
                              <p class="text-center">
                                  <%= empleado.desc_area %>
                              </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="card card-statistics">
                          <div class="card-body">
                            <p class="highlight-text text-center">
                              <i class="mdi mdi-tie text-success"></i>
                              Cargo:
                            </p>
                            <p class="text-center">
                                <%= empleado.cargo %>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
      <!-- 
                    <div class="row">
                      <div class="col-6">
                        <div class="card card-statistics">
                          <div class="card-body">
                            <p class="highlight-text">
                              <i class="mdi mdi-chart-areaspline text-danger"></i>
                              $18954
                            </p>
                            <p class="text-muted">
                              Lifetime total sales
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="card card-statistics">
                          <div class="card-body">
                            <p class="highlight-text">
                              <i class="mdi mdi-cash-multiple text-warning"></i>
                              $7841
                            </p>
                            <p class="text-muted">
                              Income amounts
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
      -->
                  </div>
              <% } %>

            
            <div class="col-12 col-lg-4 grid-margin grid-margin-lg-0">
                            <!--notification card starts-->
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Notificaciones</h2>
                  <div class="preview-list">
                    <div class="preview-item">
                      <div class="preview-thumbnail">
                        <div class="preview-icon bg-primary">
                          <i class="mdi mdi-email"></i>
                        </div>
                      </div>
                      <div class="preview-item-content">
                        <h4 class="preview-subject">Boleta aprobada</h4>
                        <p class="text-muted">
                          Boleta de comision
                        </p>
                        <p class="text-muted">
                          9:30 AM
                        </p>
                      </div>
                    </div>
                    <div class="preview-item">
                        <div class="preview-thumbnail">
                          <div class="preview-icon bg-primary">
                            <i class="mdi mdi-email"></i>
                          </div>
                        </div>
                        <div class="preview-item-content">
                          <h4 class="preview-subject">Nuevo Comunicado</h4>
                          <p class="text-muted">
                            Comunicado RRHH
                          </p>
                          <p class="text-muted">
                            9:30 AM
                          </p>
                        </div>
                      </div>

                      
                  </div>
                </div>
              </div>
              <!--notification card ends-->
            </div>

          </div>

        </div>
        <!-- content-wrapper ends -->
        <div class="modal fade" id="passwordResetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Cambio de Password</h5>
               
                </div>
                <div class="modal-body">
                  <form id="form-reset-password" method="post" action="/change_password">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Nuevo password:</label>
                      <input  id="password" name="password" type="password" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Rescriba su password:</label>
                        <input id="confirm_password" name="confirm_password" type="password" class="form-control" id="recipient-name">
                    </div>
                    <%if (user.rol.rol === 'ADMIN') { %>
                      <input type="hidden" id="id-usuario" name="id_usuario" value="0">
                    <% } %>
                    <%if (user.rol.rol === 'EMPLEADO') { %>
                      <input type="hidden" id="id-usuario" name="id_usuario" value="<%= user.id %>">
                      <input type="hidden" id="res-password" name="res_password" value="<%= user.resetpwd %>">
                    <% } %>

                    <div class="text-center">
                        <button id="button-form-reset" type="submit" class="btn btn-primary">Guardar Password</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>