<% layout('/layouts/admin') -%>
<!-- partial -->
<div class="content-wrapper">
  <h1 class="page-title">Asignar Horario Especial </h1>
  <div class="row grid-margin">
      
    <div class="col-lg-12 grid-margin grid-margin-lg-0">
        
        <form method="post" action="/horario/asignar_horario_especial/grabar_unico">

            <div class="card col-lg-12 col-lg-2   ">
             
                <div class="card-body col-10 col-2 text-center">
                <div class="form-group row">
                <label for="calculo_dias" class="col-sm-2 col-form-label">Nombre:</label>
                        <div class="col-sm-5">
                                <input type="text" class="form-control" class="form-control"  value= "<%= horario[0].nombres %>"  readonly="readonly">
                        </div>
                </div>
                <div class="form-group row">
                        <label for="calculo_dias" class="col-sm-2 col-form-label">Area:</label>
                                <div class="col-sm-5">
                                <input type="text" class="form-control"  value= "<%= horario[0].cargo %>"  readonly="readonly" >
                                </div>
                </div>
                <div class="form-group row">
                        <label for="calculo_dias" class="col-sm-2 col-form-label">Cargo:</label>
                                <div class="col-sm-5">
                                <input type="text" class="form-control" class="form-control"  value= "<%= horario[0].desc_area %>"  readonly="readonly">
                                </div>
                </div>

                    <h2 class="page-title">Horario Unico</h2>
                    <div class="form-group row">
                            <label for="fecha reporte" class="col-sm-2 col-form-label">Fecha:</label>
                            <div class="col-sm-3">
                                    <div class="input-group date datepicker b-l-blue">
                                        <input type="text" class="form-control" name="fecha_unica" id="fecha"  required>
                                        <div class="input-group-addon">
                                        <span class="mdi mdi-calendar-blank"></span>
                                        </div>
                                    </div>
                            </div>
                                                
                    </div>
                    <div class="form-group row">
                            <label for="fecha reporte" class="col-sm-2 col-form-label" >Horario:</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="horario" name="horario">
                                        <% for(var i=0; i< combo_horario.length; i++) { %>
                                                <option value="<%= combo_horario[i].id %>"><%= combo_horario[i].descripcion %></option>
                                        <% } %>
                                </select>
                            </div>
                            <input type="hidden" name="id" value= "<%= horario[0].id %>">  
                    </div>  
                        
                    <input class="btn btn-primary  col-sm-1  " type="submit" value="Grabar ">
                </div>
                       
               
                 </div>
        </form>

   </div>
</div>

<div class="row grid-margin">
        
      <div class="col-lg-12 grid-margin grid-margin-lg-0">
          
  
          <form method="post" action="/horario/asignar_horario_especial/grabar_especial">
              <div class="card col-lg-12 col-lg-2   ">
                  <div class="card-body col-10 col-2 text-center">
                        <h2 class="page-title">Horario por periodo</h2>
  
                        <div class="form-group row">
                                <label for="fecha reporte" class="col-sm-2 col-form-label">Fecha Inicio:</label>
                                <div class="col-sm-3">
                                      <div class="input-group date datepicker b-l-blue">
                                          <input type="text" class="form-control" name="fecha_inicio" id="fecha-inicio"  required>
                                          <div class="input-group-addon">
                                            <span class="mdi mdi-calendar-blank"></span>
                                          </div>
                                        </div>
                                </div>
                                <label for="fecha reporte" class="col-sm-2 col-form-label">Fecha Fin:</label>
                                <div class="col-sm-3">
                                      <div class="input-group date datepicker b-l-blue">
                                          <input type="text" class="form-control" name="fecha_fin" id="fecha-fin"  required>
                                          <div class="input-group-addon">
                                            <span class="mdi mdi-calendar-blank"></span>
                                          </div>
                                        </div>
                                </div>
                                
                            </div>
                           
                        <div class="form-group row">
                              <label for="fecha reporte" class="col-sm-2 col-form-label" >Horario:</label>
                              <div class="col-sm-4">
                                  <select class="form-control" id="horario_especial" name="horario_especial">
                                
                                        <% for(var i=0; i< combo_horario.length; i++) { %>
                                                <option value="<%= combo_horario[i].id %>"><%= combo_horario[i].descripcion %></option>
                                        <% } %>
                                     
                                  </select>
                              </div>
                      </div> 
                      <div class="card col-lg-12 col-sm-12 center  ">
                            
                      <div class="form-group row ">
                            <div class="form-check col-lg-4 " >
                                    <label class="form-check-label col-sm-4">
                                            <input type="checkbox" class="form-check-input" name="lunes"  >
                                            Lunes
                                    </label>
                            </div>
                            <div class="form-check col-lg-4 " >
                                    <label class="form-check-label col-sm-4">
                                            <input type="checkbox" class="form-check-input" name="martes"  >
                                            Martes
                                    </label>
                            </div>
                            <div class="form-check col-lg-4 " >
                                    <label class="form-check-label col-sm-4">
                                            <input type="checkbox" class="form-check-input" name="miercoles"  >
                                            Miercoles
                                    </label>
                            </div>
                            <div class="form-check col-lg-4 " >
                                    <label class="form-check-label col-sm-4">
                                            <input type="checkbox" class="form-check-input"  name="jueves" >
                                            Jueves
                                    </label>
                            </div>
                            <div class="form-check col-lg-4 " >
                                    <label class="form-check-label col-sm-4">
                                            <input type="checkbox" class="form-check-input" name="viernes"  >
                                            Viernes
                                    </label>
                            </div>
                </div>
                <input type="hidden" name="id" value= "<%= horario[0].id %>">  
            </div>
                      <input class="btn btn-primary  col-sm-1  " type="submit" value="Grabar " name="estado">
                  </div>
                         
                 
                   </div>
          </form>
  
     </div>
  </div>




</div>
 