<% layout('/layouts/admin') -%>
<!-- partial -->
<div class="content-wrapper">
  <h1 class="page-title">Nuevo Horario</h1>
  <div class="row grid-margin">
      
    <div class="col-lg-12 grid-margin grid-margin-lg-0">
   
        <form method="post" action="/horario/nuevo_horario/modificar">

            <div class="card col-lg-12 col-lg-2   ">
                <div class="card-body col-10 col-2">
                    <div>
                                        
                     <div class="form-group row">
                           <label for="calculo_dias" class="col-sm-2 col-form-label">Descripcion:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" class="form-control" name="descripcion" id="descripcion" value="<%= horario.descripcion %>" required>
                                </div>
                                <div class="form-check " >
                                        <label class="form-check-label ">
    
                                          <input type="checkbox" class="form-check-input"  name="estado"  <%= (horario.estado) ? "checked" : " "  %> >
                                          Estado
                                        </label>
                                    </div>
                        </div>
                        <h3 class="page-title">1째 Periodo Entrada</h3>
                           <div class="form-group row">
                            <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Min Entrada:</label>
                            <div class="col-sm-4">
                                <div class="input-group clockpicker b-l-blue">
                                    <input type="text" class="form-control p-input col-lg-4" value="07:00"  name="min_entrada_1" id="min_entrada_1" value="<%= horario.min_entrada_1 %>" required>
                                    <span class="input-group-addon">
                                        <i class="mdi mdi-clock"></i>
                                    </span>
                                </div>
                            </div>
                             <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Max Entrada:</label>
                            <div class="col-sm-4">
                                <div class="input-group clockpicker b-l-blue">
                                    <input type="text" class="form-control p-input col-lg-4" value="9:30"  name="max_entrada_1" id="max_entrada_1"  value="<%= horario.max_entrada_1 %>"  required>
                                    <span class="input-group-addon">
                                        <i class="mdi mdi-clock"></i>
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                                <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Entrada:</label>
                                <div class="col-sm-4">
                                    <div class="input-group clockpicker b-l-blue">
                                        <input type="text" class="form-control p-input col-lg-4" value="08:30"  name="entrada_1" id="entrada_1"   value="<%= horario.entrada_1 %>"  required>
                                        <span class="input-group-addon">
                                            <i class="mdi mdi-clock"></i>
                                        </span>
                                    </div>
                                </div>
                                <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Tolerancia:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" class="form-control" name="tolerancia_1" id="tolerancia_1" value="<%= horario.tolerancia_entrada_1 %>"  required>
                                </div>
                                
                            </div>
                             <h3 class="page-title">1째 Periodo Salida</h3>
                           <div class="form-group row">
                            <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Min Entrada:</label>
                            <div class="col-sm-4">
                                <div class="input-group clockpicker b-l-blue">
                                    <input type="text" class="form-control p-input col-lg-4" value="12:30"  name="min_entrada_2" id="min_entrada_2"  value="<%= horario.min_salida_1 %>"  required>
                                    <span class="input-group-addon">
                                        <i class="mdi mdi-clock"></i>
                                    </span>
                                </div>
                            </div>
                             <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Max Entrada:</label>
                            <div class="col-sm-4">
                                <div class="input-group clockpicker b-l-blue">
                                    <input type="text" class="form-control p-input col-lg-4" value="13:30"  name="max_entrada_2" id="max_entrada_2"  value="<%= horario.max_salida_1 %>"  required>
                                    <span class="input-group-addon">
                                        <i class="mdi mdi-clock"></i>
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                                <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Entrada:</label>
                                <div class="col-sm-4">
                                    <div class="input-group clockpicker b-l-blue">
                                        <input type="text" class="form-control p-input col-lg-4" value="12:30"  name="entrada_2" id="entrada_2"  value="<%= horario.salida_1 %>"  required>
                                        <span class="input-group-addon">
                                            <i class="mdi mdi-clock"></i>
                                        </span>
                                    </div>
                                </div>
                                <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Tolerancia:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" class="form-control" name="tolerancia_2" id="tolerancia_2" placeholder="Minutos"  value="<%= horario.tolerancia_salida_1 %>"  required>
                                </div>
                                
                            </div>


                            <h3 class="page-title">2째 Periodo Entrada</h3>
                            <div class="form-group row">
                             <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Min Entrada:</label>
                             <div class="col-sm-4">
                                 <div class="input-group clockpicker b-l-blue">
                                     <input type="text" class="form-control p-input col-lg-4" value="13:31"  name="min_entrada_3" id="min_entrada_3"  value="<%= horario.min_entrada_2 %>"  required>
                                     <span class="input-group-addon">
                                         <i class="mdi mdi-clock"></i>
                                     </span>
                                 </div>
                             </div>
                              <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Max Entrada:</label>
                             <div class="col-sm-4">
                                 <div class="input-group clockpicker b-l-blue">
                                     <input type="text" class="form-control p-input col-lg-4" value="15:00"  name="max_entrada_3" id="max_entrada_3"  value="<%= horario.max_entrada_2 %>"  required>
                                     <span class="input-group-addon">
                                         <i class="mdi mdi-clock"></i>
                                     </span>
                                 </div>
                             </div>
                             
                         </div>
                         <div class="form-group row">
                                 <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Entrada:</label>
                                 <div class="col-sm-4">
                                     <div class="input-group clockpicker b-l-blue">
                                         <input type="text" class="form-control p-input col-lg-4" value="14:30"  name="entrada_3" id="entrada_3"   value="<%= horario.entrada_2 %>"  required>
                                         <span class="input-group-addon">
                                             <i class="mdi mdi-clock"></i>
                                         </span>
                                     </div>
                                 </div>
                                 <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Tolerancia:</label>
                                 <div class="col-sm-2">
                                     <input type="text" class="form-control" class="form-control" name="tolerancia_3" id="tolerancia_3" placeholder="Minutos"  value="<%= horario.tolerancia_entrada_2 %>"  required>
                                 </div>
                                 
                             </div>

                             <h3 class="page-title">2째 Periodo Salida</h3>
                             <div class="form-group row">
                              <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Min Entrada:</label>
                              <div class="col-sm-4">
                                  <div class="input-group clockpicker b-l-blue">
                                      <input type="text" class="form-control p-input col-lg-4" value="18:30"  name="min_entrada_4" id="min_entrada_4"  value="<%= horario.min_salida_2 %>"  required>
                                      <span class="input-group-addon">
                                          <i class="mdi mdi-clock"></i>
                                      </span>
                                  </div>
                              </div>
                               <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Max Entrada:</label>
                              <div class="col-sm-4">
                                  <div class="input-group clockpicker b-l-blue">
                                      <input type="text" class="form-control p-input col-lg-4" value="23:00"  name="max_entrada_4" id="max_entrada_4"   value="<%= horario.max_salida_2 %>"  required>
                                      <span class="input-group-addon">
                                          <i class="mdi mdi-clock"></i>
                                      </span>
                                  </div>
                              </div>
                              
                          </div>
                          <div class="form-group row">
                                  <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Entrada:</label>
                                  <div class="col-sm-4">
                                      <div class="input-group clockpicker b-l-blue">
                                          <input type="text" class="form-control p-input col-lg-4" value="18:30"  name="entrada_4" id="entrada_4"  value="<%= horario.salida_2 %>"  required>
                                          <span class="input-group-addon">
                                              <i class="mdi mdi-clock"></i>
                                          </span>
                                      </div>
                                  </div>
                                  <label for="fecha reporte" class="col-sm-2 col-form-label text-right">Tolerancia:</label>
                                  <div class="col-sm-2">
                                      <input type="text" class="form-control" class="form-control" name="tolerancia_4" id="tolerancia_4" placeholder="Minutos"  value="<%= horario.tolerancia_salida_2 %>"  required>
                                  </div>
                                  
                              </div>     
                           
                              <input type="hidden" name="id_hora" value= "<%= horario.id %>">                   
                    </div>
                </div>
                <div class="card-body btn-demo text-center">
                    <input class="btn btn-primary" type="submit" value="Modificar">
                </div>
            </div>
        </form>
   </div>
</div>
</div>