<% layout('/layouts/admin') -%>


<!-- partial -->
<div class="content-wrapper">
       <h1 class="page-title text-center">Lista Horarios</h1>

       <div class="row grid-margin">

          <div class="col-lg-12 grid-margin grid-margin-lg-0">
              <%if (error_msg.length > 0 ) { %>
                  <div class="alert alert-warning text-center" role="alert">
                    <%= error_msg %>
                  </div>
                <% } %>
          </div>
        </div>
         <div class="col-12 col-lg-12 grid-margin grid-margin-lg-0">
           <div class="card">
             <div class="card-body">

                <%if (success_msg.length > 0 ) { %>
                  
                                          <div class="row">
                                                  <div class="col align-self-center">
                                                      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                                                          <strong><i class="mdi mdi-check"></i></strong>  <%= success_msg %>
                                                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                              </button>
                                                      </div>
                                                  </div>
                          
                                              </div>
                                      <% } %>
               <form  method="post" action="/horario/lista_horario/nuevo">
          
                        
              
                        <div class="col-md-12 text-center"> 
                          <button type="submit" class="btn btn-primary">Nuevo Horario</button>
                        </div>
                      </form>
                        
         
                        
                      <div class="form-group row" id="panel-boletas">
                          <div class="col-12">
                                    <table id="table-horarios" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                      <thead>
                                        <tr>
                                            <th>Descripcion</th>
                                            <th>Entrada 1er periodo</th>
                                            <th>Salida 1er periodo</th>
                                            <th>Entrada 2er periodo</th>
                                            <th>Salida 2er periodo</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <% for(var i=0; i< horario.length; i++) { %>
                                            <form  method="post" action="/horario/lista_horario/editar">
                                        <tr>

                                            <td><%= horario[i].descripcion%> </td>
                                            <td><%= horario[i].entrada_1 %></td>
                                            <td><%= horario[i].salida_1 %> </td>
                                            <td><%= horario[i].entrada_2 %> </td>
                                            <td><%= horario[i].salida_1%> </td>
                                            <td>
                                                <%= (horario[i].estado) ? "ACTIVO" : "INACTIVO "  %>
                                            </td>
                                            <td class="text-center">
                                                    <button class="btn btn-outline-primary" type="submit" >Editar</button>
                                              </td>
                                              <td><input  name="id" type="hidden" value= "<%= horario[i].id %>"    ></td>
                                            
                                        </tr>
                                      </form>
                                        <% } %>
                                      </tbody>
                                    </table>
                                  </div>
                  </div>
             
             </div>
           </div>
         </div>

</div>
 