
<% layout('/layouts/admin') -%>
<!-- partial -->
<div class="content-wrapper">
    <h1 class="page-title">Areas</h1>
        <div class="row grid-margin">
            <div class="col-lg-10 grid-margin grid-margin-lg-0">
                <%if (error_msg3.length > 0 ) { %>
                    <div class="alert alert-warning text-center" role="alert">
                         <%= error_msg3 %>
                    </div>
                <% } %>
       


                <form method="post" action="/lista_area/modificar">

                  

                <div class="card col-lg-12 col-lg-4 ">
                                     
                    <div class="card-body col-8 col-4">
                            <div class="form-group row">
                                    <label for="fecha reporte" class="col-sm-3 col-form-label" >Area Superior:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="tipo-area" name="tipo_area">
                                            <% for(var i=0; i< Area.length; i++) { %>
                                                <option value="<%= Area[i].id %>"  <%= (area[0].id == Area[i].id)? 'selected' : '' %> > <%= Area[i].desc_area %></option>
                                            <% } %>
                                        </select>
                                    </div>

                                    <div class="form-check col-sm-4 " >
                                            <label class="form-check-label ">
        
                                              <input type="checkbox" class="form-check-input"  name="estado"  <%= (area[0].estado) ? "checked" : " "  %> >
                                              Estado
                                            </label>
                                    </div>    
                                </div>
                            <div class="form-group row">
                                <label for="calculo_dias" class="col-sm-3 col-form-label">Descricion:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" class="form-control" name="descripcion" id="descripcion" value="<%= area[0].desc_area %> " required>
                                </div>
                            </div>
                            <div class="form-group row">
                                    <label for="calculo_dias" class="col-sm-3 col-form-label">Nivel area:</label>
                                        <div class="col-sm-2">
                                            <input class="form-control" name="nivel" id="nivel" value="<%= area[0].nivel %> " required>
                                        </div>
                                               </div>
                                               <input type="hidden" name="id_area" value= "<%= area[0].id %>">    
                            
                    </div>
                    <div class="card-body btn-demo text-center">
                        <input class="btn btn-primary" type="submit" value="Grabar">
                    </div>
                </div>
                </form>

             
            </div>
        </div>
</div>



