<% layout('/layouts/admin') -%>
<!-- partial -->
<div class="content-wrapper">
  <div class="row justify-content-md-center">
        <div class="col-sm-12 col-lg-12 grid-margin print-ignore">
          <div class="card">
              <div class="card-body">

                    <%if (success_msg.length > 0 ) { %>

                        <div class="row">
                                <div class="col align-self-center">
                                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                                        <strong><i class="mdi mdi-check"></i></strong>  <%= success_msg %>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                </div>
        
                            </div>
                    <% } %>
                
                  <div class="col-sm-12">
                    <h2 class="card-title text-center">Historico CAS: <%= empleado.nombres %></h2>
                  </div>
                  <table id="table-prescripcion" class="table table-bordered">
                        <thead >
                          <tr>
                            <th class="table-dark" >CAS</th>
                            <th class="table-dark" >Codigo Verificacion</th>
                            <th class="table-dark" >Fecha Registro</th>
                            <th class="table-dark" >Nombre</th>
                            <th class="table-dark" >AÑOS</th>
                            <th class="table-dark" >MESES</th>
                            <th class="table-dark" >DIAS</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for(var cas of empleado.cas) { %>
                                <% var class_estado = (cas.estado) ? "table-warning" : "" %>
                                <tr class="<%= class_estado %>">
                                
                                    <td><%= cas.cas %></td>
                                    <td><%= cas.codigo_verificacion %></td>
                                    <td><%= cas.fecha %></td>
                                    <td><%= empleado.paterno %> <%= empleado.nombres %></td>
                                    <td><%= cas.aa %></td>
                                    <td><%= cas.mm %></td>
                                    <td><%= cas.dd %></td>
                                </tr>

                            <% } %>
                        </tbody>
                      </table>


          </div>
      </div>
  </div>
</div>
</div>
