<% layout('/layouts/admin') -%>
        <!-- partial -->
        <div class="content-wrapper">
          <div class="row justify-content-md-center">
                <div class="col-sm-12 col-lg-10 grid-margin print-ignore">
                  <div class="card margin-top-30">
                      <div class="card-body">
                          <div class="row">
                          <div class="col-sm-7">
                            <h2 class="card-title">Reporte Saldo de Vacaciones</h2>
                          </div>
                          
                          <div class="col-sm-4">
                                    
                                    <div class="form-radio">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="tipo_reporte" value="area" checked>
                                            Reporte por Area
                                        </label>
                                    </div>
                                    <div class="form-radio">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="tipo_reporte" value="persona">
                                            Reporte por Persona
                                        </label>
                                    </div>
                          </div>
                          </div>                     
                          
                        <div id="form-busqueda-individual" class="form-margin-20">
                         <h2 class="">Busqueda por Persona</h2>
                          <form id="form-saldo-vacacion-individual">
                                <div class="form-group row">
                                        <label for="ci reporte" class="col-sm-1 col-form-label">C. I.:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" class="form-control" name="ci_empleado" id="ci-empleado" placeholder="Ingrese el CI del empleado">
                                        </div>
                                        <div class="col-sm-2">
                                                <button type="submit" class="btn btn-primary" >Busca persona</button>
                                        </div>
                                      </div>
                            </form>
                        </div>
                        <div id="form-busqueda-area" class="form-margin-20">
                         <h2 class="">Busqueda por Area</h2>
                          <form id="form-saldo-vacacion">
                              <div class="form-group row">

                                  <label for="area" class="col-sm-3 col-form-label">Area:</label>
                                  <div class="col-sm-8">
                                    <select class="form-control" id="areas-select-vacacion">
                                       <% for(var i=0; i< areas.length; i++) { %>
                                            <option value="<%= areas[i].id %>"><%= areas[i].desc_area %></option>
                                        <% } %>
                                    </select>
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label for="fecha reporte" class="col-sm-3 col-form-label">Fecha Reporte:</label>
                                  <div class="col-sm-8">
                                    <div class="input-group date datepicker b-l-blue">
                                        <input type="text" class="form-control" name="fecha" id="fecha-saldo-vacacion">
                                        <div class="input-group-addon">
                                        <span class="mdi mdi-calendar-blank"></span>
                                        </div>
                                    </div>
                                  </div>
                              </div>
                            <div class="form-group row">
                                <label for="fecha reporte" class="col-sm-3 col-form-label">Tipo Personal:</label>
                                <div class="col-sm-8">
                                    <div class="form-radio">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="tipo_personal" value="activo" checked>
                                            Personal Activo
                                        </label>
                                    </div>
                                    <div class="form-radio">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="tipo_personal" value="inactivo">
                                            Personal Inactivo
                                        </label>
                                    </div>
                                    <div class="form-radio">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="tipo_personal" value="todos">
                                            Personal Activo/Inactivo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center"> 
                              <button type="submit" class="btn btn-primary">Buscar Personal</button>
                            </div>
                          </form>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-12 grid-margin grid-margin-lg-0" id="panel-personal">
              <div class="card margin-top-30">
                <div class="card-body">
                  <div class="row">
                        <div class="col-sm"></div>
                        <div class="col-sm">
                            <h3 class="card-title text-center">Saldo de Vacaciones<br>al <span id="fecha-reporte">10/10/2017</span></h3>
                        </div>
                        <div class="col-sm">
                            <button type="button" class="btn btn-primary print-ignore" onClick="window.print()"><i class="mdi mdi-printer btn-label btn-label-left"></i>Imprimir</button>
                            <button type="button" class="btn btn-primary print-ignore" id="btnExport" onclick="javascript:fnExcelReport('table-saldo', 'ReporteSaldoVacacion');"><i class="mdi mdi-file-excel btn-label btn-label-left"></i>Importar</button>
                        </div>
                  </div>

                  <table id="table-saldo" class="table table-bordered table-print data-table-print">
                    <thead >
                      <tr>
                        <th class="table-dark" width="10%">CI</th>
                        <th class="table-dark" width="20%">Nombre</th>
                        <th class="table-dark" width="15%">Cargo</th>
                        <th class="table-dark" width="15%">Fecha Ingreso</th>
                        <th class="table-dark" width="10%">Saldo</th>
                        <th class="table-dark" width="15%">Gestion</th>
                        <th class="table-dark" width="15%">Dias de Vacacion</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% var area = '' %>
                        
                        <% var saldo = 0 %>
                        <% var ndi = '' %>
                        <% for(var saldovacacion of saldovacaciones) { %>
                            
                            <% if(area != saldovacacion.desc_area ) { %>
                                <tr>
                                    <td colspan="6"><h2><%= saldovacacion.desc_area %></h2></td>
                                </tr>
                            <% }%>
                            <tr>

                                    <td><%= saldovacacion.ndi %></td>
                                    <td><%= saldovacacion.nombres %> <%= saldovacacion.paterno %> <%= saldovacacion.materno %></td>
                                    <td><%= saldovacacion.cargo %></td>
                                    <td><%= moment(saldovacacion.fecha_inicio).format( 'DD/MM/YYYY') %></td>
                                    <td><%= saldovacacion.dias %></td>
                                    
                                    <td><%= saldovacacion.gestion %></td>
                                    <td><%= saldovacacion.dias %></td>

                                    <% var ndi = saldovacacion.ndi %>
                                    <% var area = saldovacacion.desc_area  %>
                                    <% var saldo = saldo+saldovacacion.dias %>
                            </tr>
                        <%} %>    
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div
        <iframe id="txtArea1" style="display:none"></iframe>