<% layout('/layouts/admin') -%>
<div class="container-fluid page-body-wrapper">
  <div class="row row-offcanvas row-offcanvas-right">
    <!-- partial -->
    <div class="content-wrapper">
      <div class="row user-profile">
          <div class="col-lg-10 side-right">
            <div class="card">
              <div class="card-body">
                  <center><h2 class="card-title">Registro de Experiencia Laboral</h2></center>
                <div class="field_wrapper">
                    <br>
                    <h2 class="card-title">Experiencia Registrada</h2>
                  <table class="table">
                    <tr>
                      <th>Institucion</th>
                      <th>Cargo</th>
                      <th>Fecha de inicio</th>
                      <th>Fecha Final</th>
                      <th></th>
                    </tr>
                    <% for(var i=0; i< experiencia.length; i++) { %>
                      <tr>
                    <td><%= experiencia[i].nombre_empresa %></td>
                    <td><%= experiencia[i].cargo %></td>
                    <td><%= experiencia[i].fecha_inicio %></td>
                    <td><%= experiencia[i].fecha_fin %></td>
                    <td><form id="eliminaexperiencia" method="post" action="/ficha_personal/elimina_experiencia">
                      <input name="id_experiencia" type="hidden" class="form-control" value='<%= experiencia[i].id %>'>
                      <button type="submit">Eliminar</button>
                    </form></td>
                  </tr>
                  <% } %>
                  </table>
                  <br><br><br><br>
                  <h2 class="card-title">Registrar Experiencia</h2>
                  <form class="cmxform" id="registroexperiencia" method="post" action="/ficha_personal/identificacion_personal4">
                    <div>
                                    
                                                                <div class="row">
                                                                <div class="col">
                                                                <div class="form-group">
                                                                <label for="name">Nombre de Institucion</label>
                                                                <input name="nombre_empresa" type="text" class="form-control" id="nominst" placeholder="Nombre de la Institucion">
                                                                </div>
                                                                </div>
                                                                <div class="col">
                                                                <div class="form-group">
                                                                <label for="address">Tipo de Institucion (Publica, Privada, otra especificar)</label>
                                                                <input name="tipo_empresa" id="Tipoinst" rows="6" class="form-control" placeholder="Tipo de Institucion">
                                                                </div>
                                                                </div>
                                                                <div class="col">
                                                                <div class="form-group">
                                                                <label for="address">Cargo Desempeñado</label>
                                                                <input name="cargo" id="cargo" rows="6" class="form-control" placeholder="Cargo Desempeñado">
                                                                </div>
                                                                </div>
                                                                </div>
                                                                
                                    
                                                                <div class="row">
                                                                <div class="col">
                                                                <div class="form-group">
                                                                <label for="name">Pais</label>
                                                                <input name="pais" type="text" class="form-control" id="paisexperiencia" placeholder="Pais">
                                                                </div>
                                                                </div>
                                                                <div class="col">
                                                                <div class="form-group">
                                                                <label for="address">Ciudad</label>
                                                                <input name="ciudad" id="ciudadexperiencia" rows="6" class="form-control" placeholder="Ciudad">
                                                                </div>
                                                                </div>
                                                                </div>
                                    
                                                                <div class="row">
                                                                <div class="col">
                                                                <div class="form-group">
                                                                <label for="name">Fecha de Inicio</label>
                                                                <div class="input-group date datepicker b-l-blue">
                                                                        <input name="fecha_inicio" type="text" class="form-control">
                                                                        <div class="input-group-addon">
                                                                          <span class="mdi mdi-calendar-blank"></span>
                                                                        </div>
                                                                      </div>
                                                                </div>
                                                                </div>
                                                                <div class="col">
                                                                <div class="form-group">
                                                                <label for="address">Fecha Fin</label>
                                                                <div class="input-group date datepicker b-l-blue">
                                                                        <input name="fecha_fin" type="text" class="form-control">
                                                                        <div class="input-group-addon">
                                                                          <span class="mdi mdi-calendar-blank"></span>
                                                                        </div>
                                                                      </div>
                                                                </div>
                                                                </div>
                                                                </div>                                    

                          <div class="row">
                              <div class="col">
                              <div class="form-group">
                              <button type="submit" class="btn btn-success mr-2">Añadir</button>
                              <button class="btn btn-outline-danger">Cancelar</button>
                              </div>
                              </div>
                              </div>
                          </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>


    